In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df=pd.read_csv(r"C:\Users\DELL\Desktop\PYTHON\DATASET\Salaries.csv")

In [ ]:
df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [ ]:
df=df.dropna()

In [ ]:
df.isnull().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Notes               0
Agency              0
Status              0
dtype: int64

In [ ]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [ ]:
name_counts = df['EmployeeName'].value_counts()

In [ ]:
top_5_names = name_counts.head(5)

In [ ]:
print(top_5_names)

EmployeeName
Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
Name: count, dtype: int64

In [ ]:
print("Top 5 employee names with their occurrence counts:")
print(top_5_names)

Top 5 employee names with their occurrence counts:
EmployeeName
Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
Name: count, dtype: int64

In [ ]:
 unique_job_titles_count = df['JobTitle'].nunique()

In [ ]:
print(f"The number of unique job titles is: {unique_job_titles_count}")

The number of unique job titles is: 2159

In [ ]:
captain_titles = [df['JobTitle'].str.contains('captain', case=False, na=False)]

In [ ]:
captain_titles = df[df['JobTitle'].str.contains('captain', case=False, na=False)]

In [ ]:
captain_titles_count = captain_titles.shape[0]

In [ ]:
print(f"The total number of job titles containing 'captain' is: {captain_titles_count}")

The total number of job titles containing 'captain' is: 552

In [ ]:
captain_titles

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116604,116605,Gregory L Stewart,"Captain, Fire Suppression",73355.21,18517.18,49917.73,25608.77,141790.12,167398.89,2014,NaN,San Francisco,NaN
120867,120868,Michael J Moran,Captain 3,7660.00,1496.09,126560.36,2189.51,135716.45,137905.96,2014,NaN,San Francisco,NaN
122361,122362,Michael V Rolovich,"Captain, Fire Suppression",0.00,0.00,130320.75,0.00,130320.75,130320.75,2014,NaN,San Francisco,NaN
126588,126589,Stephen M Tittel,Captain 3,68491.89,0.00,23721.91,19020.79,92213.80,111234.59,2014,NaN,San Francisco,NaN
132232,132233,Jeanne M Seyler,"Captain, Fire Suppression",61039.43,2285.30,7548.29,20113.76,70873.02,90986.78,2014,NaN,San Francisco,NaN

In [ ]:
print("Column names in the dataset:")
print(df.columns)

Column names in the dataset:
Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [ ]:
min_base_pay = df['BasePay'].min()

In [ ]:
print (min_base_pay)

-166.01

In [ ]:
max_base_pay = df['BasePay'].max()

In [ ]:
print (max_base_pay)

319275.01

In [ ]:
avg_base_pay = df['BasePay'].mean()

In [ ]:
print (avg_base_pay)

66325.4488404877

In [ ]:
df['EmployeeName'] = df['EmployeeName'].replace('Not provided', np.nan)

In [ ]:
print(df)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651                NaN
148651  148652                NaN
148652  148653                NaN
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]

In [ ]:
df_dropped = df.dropna(thresh=df.shape[1]-5+1)

In [ ]:
print(df_dropped)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148645  148646   Carolyn A Wilson
148647  148648     Joann Anderson
148648  148649        Leon Walker
148649  148650      Roy I Tillery
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148645                       Human Services Technician       0.00
148647                     Communications Dispatcher 2       0.00
148648                                       Custodian       0.00
148649                                       Custodian       0.00
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148645         0.00       0.00       0.0       0.00              0.00  2014
148647         0.00       0.00       0.0       0.00              0.00  2014
148648         0.00       0.00       0.0       0.00              0.00  2014
148649         0.00       0.00       0.0       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148645    NaN  San Francisco     NaN
148647    NaN  San Francisco     NaN
148648    NaN  San Francisco     NaN
148649    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148650 rows x 13 columns]

In [ ]:
albert_row = df[df['EmployeeName'] == 'ALBERT PARDINI']

In [ ]:
job_title = albert_row['JobTitle'].values[0]
print("Job Title of ALBERT PARDINI:", job_title)

Job Title of ALBERT PARDINI: CAPTAIN III (POLICE DEPARTMENT)

In [ ]:
base_pay = albert_row['BasePay'].values[0]
benefits = albert_row['Benefits'].values[0]
total_pay = base_pay + benefits
print("Total pay for ALBERT PARDINI (including benefits):", total_pay)

Total pay for ALBERT PARDINI (including benefits): nan

In [ ]:
max_base_pay_index = df['BasePay'].idxmax()

In [ ]:
name_highest_base_pay = df.loc[max_base_pay_index, 'EmployeeName']

In [ ]:
print("Person with the highest BasePay:", name_highest_base_pay)

Person with the highest BasePay: Gregory P Suhr

In [ ]:
average_basepay_per_year = df.groupby('Year')['BasePay'].mean()

In [ ]:
print("Average BasePay per year:")
print(average_basepay_per_year)

Average BasePay per year:
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
average_basepay_per_job_title = df.groupby('JobTitle')['BasePay'].mean()

In [ ]:

print("Average BasePay per job title:")
print(average_basepay_per_job_title)

Average BasePay per job title:
JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

In [ ]:
accountant_data = df[df['JobTitle'] == 'Accountant']

In [ ]:
average_basepay_accountant = accountant_data['BasePay'].mean()
print("Average BasePay of employees with job title 'Accountant':", average_basepay_accountant)

Average BasePay of employees with job title 'Accountant': nan

In [ ]:
top_five_jobs = df['JobTitle'].value_counts().head(5)
print("Five most common job titles:")
print(top_five_jobs)

Five most common job titles:
JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64